<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPF.Data.Example.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WPF.Data.Example.Settings>
            <setting name="StoreDatabase" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SotoreDB;Integrated Security=True;Connect Timeout=30;Encrypt=False</value>
            </setting>
        </WPF.Data.Example.Settings>
    </userSettings>
</configuration>